<form>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" name="firstname" required [(ngModel)]="firstname_input">
  </div>

  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" required [(ngModel)]="lastname_input">
  </div>

  <button type="submit" class="btn btn-success" [disabled] = "isExist">Add Name</button>
  <button type="submit" class="btn btn-success" (click)="searchFullName(firstname_input,lastname_input)">Search Full nName</button>
</form>